<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Ng Zorro - Firebase</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        routerLink="/"
        nzSelected
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTitle]="isCollapsed ? 'Dashboard' : ''"
      >
        <i nz-icon nzType="dashboard" nzTheme="fill" aria-hidden="true"></i>
        <span>Dashboard</span>
      </li>
      <li
        routerLink="/peliculas"
        
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTitle]="isCollapsed ? 'Películas' : ''"
      >
        <i nz-icon nzType="video-camera" nzTheme="fill" aria-hidden="true"></i>
        <span>Películas</span>
      </li>
      
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTitle]="isCollapsed ? 'Turnos' : ''"
        [nzDisabled]="true"
      ><!-- Disabled  -->
        <i nz-icon nzType="appstore" nzTheme="fill" aria-hidden="true"></i>
        <span>Turnos</span>
      </li>
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTitle]="isCollapsed ? 'Administradores' : ''"
        [nzDisabled]="true"
      ><!-- Disabled  -->
        <i nz-icon nzType="project" nzTheme="fill" aria-hidden="true"></i>
        <span>Administradores</span>
      </li>
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTitle]="isCollapsed ? 'Perfil' : ''"
        [nzDisabled]="true"
      ><!-- Disabled  -->
        <i nz-icon nzType="robot" nzTheme="fill" aria-hidden="true"></i>
        <span>Perfil</span>
      </li>
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTitle]="isCollapsed ? 'Cerrar sesión' : ''"
      >
        <i nz-icon nzType="api" nzTheme="fill" aria-hidden="true"></i>
        <span>Cerrar sesión</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            aria-hidden="true"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
